#flag_frame {
    /* border: 2px black solid; */
    box-shadow: 10px 10px 5px grey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#flag {
    /* border: 2px black solid; */
    height: 400px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#starcell {
    background-color: rgb(10, 49, 97);
    /*#3614b2;*/
    text-align: center;
    width: 350px;
}

#stars {
    color: rgb(255, 255, 255);
    width: 350px;
    text-align: center;
    font-size: 22px;
}

.stripes {
    height: 42px;
}

.redStripe {
    background-color: rgb(179, 25, 66);
}

.whiteStripe {
    background-color: rgb(255, 255, 255);
}