body {
    background: rgb(116, 109, 109);
    color: white;
    /* background-image: linear-gradient(gray, white); */
}

video {
    border: 4px solid darkblue;
    border-radius: 9px;
}

.audio {
    display: block;
    border: 4px solid darkblue;
    border-radius: 9px;
}

h3 {
    text-align: center;
}

table {
    margin: auto;
}

.header {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

td {
    /* border: 2px dashed red; */
    text-align: center;
}


/* .button {
    padding: 1em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    margin: 0 auto;
    border: snow;
    color: springgreen;
} */

.button {
    background-color: #1b1edb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container {
    width: 100%;
    text-align: center;
    font-size: 20px;
}