body {
    background-image: linear-gradient(rgb(112, 146, 127), rgb(255, 255, 255));
}

h1 {
    text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    /* height: 500px; */
    /* border: 5px solid #FFFF00; */
    padding: 10px;
}

.space {
    border-color: transparent;
}

p {
    text-indent: 50px;
    font-size: 14pt;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}