body {
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Northwest_Airlines_Boeing_747-400_Spijkers.jpg"); */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Mount_Rainier_from_west.jpg/1280px-Mount_Rainier_from_west.jpg");
    background-size: cover;
}

.centerButton {
    text-align: center;
    margin-top: 10%;
}