h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(112, 0, 0);
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(212, 23, 23, 0.3), rgba(0, 0, 0, 0.1));
}

table,
td {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
}

tr.rgb td {
    background-color: rgb(112, 0, 0);
    color: lightgray;
}

tr.hsl td {
    background-color: hsl(0, 100%, 22%);
    color: lightgray;
}

.alpha9 {
    opacity: 0.9;
}

.alpha8 {
    opacity: 0.8;
}

.alpha7 {
    opacity: 0.7;
}

.alpha6 {
    opacity: 0.6;
}

.alpha5 {
    opacity: 0.5;
}

.alpha4 {
    opacity: 0.4;
}

.alpha3 {
    opacity: 0.3;
}

.alpha2 {
    opacity: 0.2;
}

.alpha1 {
    opacity: 0.1;
}