.header {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 2px solid royalblue;
}

body {
    background-color: slategray;
    text-align: center;
}

p {
    font-size: 20px;
}