.header {
    text-align: center;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: rgb(179, 217, 255);
}

body {
    background-color: rgb(243, 104, 12);
}